body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #333;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

.sidebar li:hover {
  background: #555;
}

/* Konten utama */
.content {
  flex: 1;
  padding: 20px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

h1 {
  margin-bottom: 20px;
}

/* Panel monitoring */
.top-panel {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
}

/* Visual tong air */
.water-tank {
  position: relative;
  width: 80px;
  height: 120px;
  border: 2px solid #333;
  margin: 10px auto 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #4da6ff;
  height: 0%;
  transition: height 0.5s ease;
}

.water-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

#soilStatus {
  margin-top: 50px;
  text-align: center;
}

.right-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.chart-container {
  flex: 3; /* grafik lebih besar */
}

.status-card {
  flex: 1;
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Grafik */
.bottom-panel {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
}
